/*      Заметки:

    Единицы измерения:
Px - пиксели
vh - 1vh = 1% от высоты области просмотра 

    "Разметка":
margin - Внешний отступ эл от других эл
padding: 20px 0 - отступ внутри рамок эл. (20px - сверху и снизу, 0 - бока)
    Иначе: padding: сверху справа снизу слева
border - Рамка эл. (пример - 1px solid black) 
    (solid - тип линии (сплошная))

    Параметры:
Цвета - black, white и др.
url("ссылка") - хз че тут сказать

    Св-ва:
background - задает фон эл-ту (можно фото, цвет)
    background-repeat - повторять или нет картинку
    background-position - где в болоке должна находится картинка
    background-size - заполнение - размер
 clip-path - определить обл для эл в которой будет показно его содержимое
flex-эл-ты
    flex-direction - Направление основных осей
    display - как эл должен быть показан в документе (строчным, блочным)
        display:flex - позволяет перемещает эл
    align-items - выравнивает флекс-эл. внутри контейнера по вертикали
    justify-content - что делать с пространством вокруг эл
    border-radius - радиус скругления углов
    flex - растягивет или сжимает эл-ты для заполнения свободного пр-ва
Текст
    font-size - размер текста
    text-decoration - эффекты на тексте
    opacity - прозрачность
    text-align - выравнивает текст по горизантали
    line-height - рамер шрифта, высота букв
 a:hover - эффект при наведении на ссылку
 transition - добавить анимацию/эффект
Position
    position:relative - теперь эл можно двигать
    position:static - нужно для сброса стилей
    position:absolute - привязывается к родительскомуд блоку с relative
    top, bottom, left, right - положение объекта
    object-fit - как картика или видео заполняет блок
Filter
   brightness - яркость
   hue-rotate - изменение оттенка
   blur - эффект размытия
   contrast - четкость цвета
   drop-shadow - тень
   grayscale - оттенок серого
   opacity - непрозрачность
   sa
   revert - откатить к первоначальному сост.

    Лайфхаки:
../ - выйти из папки обратно в родительскую
rgb(0-255, 0-255, 0-255, (процент прозрачности) 0-100%)
calc - разчитать некоторые величины, например, calc(100vh - 80px)
inherit - возьми высоту, как у родителя

    Псевдоклассы:
:last-of-type - для последнего эл-то данного типа
:last-child - для любого дочернего эл-та в блоке
a:not(.active) :not - для всех эл кроме
:root - для глобального задания переменных
    */

/* Переменные */
:root {
    --color-green: #76bc21;
    --background-black-opacity: rgb(0, 0, 0, 75%);
}


/* Общие стили */
a {
    color: var(--color-green);
    text-decoration: none;  
}

a:hover {
    opacity: 70%;
    transition: opacity 0.5s ease;
}

/* Header */
.header {
    position: relative;
    height: 110vh;

    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
}

.header__background{
    position: absolute;
    height: inherit;
    width: 100%;
    object-fit: cover;
}
.header__background-wrapper {
    position: absolute;
    height: inherit;
    width: 100%;

    background: #00000050;
    z-index: 1;
}

.header-top {
    position: relative;
    display: flex; 
    align-items: center;
    justify-content: space-evenly;

    height: 80px;

    color: white;
    background: var(--background-black-opacity);
    z-index: 2;
}

.header-top a {
    color: #fff;
}

.header-top a.active {
    color: var(--color-green);
}

.header-top a.active:hover {
    color: #82e00e;
    opacity: 100%;
}

.logo {
    font-size: 32px;
    /* margin-right: 40px; */
}

.menu {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.menu-element{
    margin-right: 10px;
    font-size: 17px;
}
.menu-element:last-of-type {
    margin-right: 0px;

}

.swither {
    margin-right: 90px;
    margin-left: 90px;
    height: 35px;
    display: flex;
    align-items: center;
    background: var(--color-green);
    border-radius: 20px ;
    width: 80px;
    padding: 0 10px;

}
.swither-element {
    flex: 1 1 50%;
    text-align: center;
}

.header-center{
    position: relative;
    display: flex;
    z-index: 2;
    
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);

    color: white;
}
.header-center__wrapper {
    width: 100%;
    text-align: center;
    background: var(--background-black-opacity);
    padding: 22px 0;
    padding-bottom: 25px;
}

.name {
    font-size: 44px;
    line-height: 50px;
}
.description{
    font-size: 20px;
}

/* коментарий */
